<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        form {
            border : .5px solid rgb(187, 0, 255); padding : 10px; margin : 10px;
        }
    </style>
    <title>Patch</title>
</head>
<body>
    <h2>USERID : <%= user.id %></h2>
    <h2>EMAIL : <%= user.email %></h2>
    <% if(add == "notAdd") { %>
        <p style="color: red;">Error: Incorrect Password
            <br>
            The password you entered is incorrect. Please double-check your password and try again.</p>
    <% } %>
    <br>
    <form method="post" action="/user/<%= user.id %>?_method=PATCH">
        <input type="text" name="pass" placeholder="Enter your old password">
        <br><br>
        <textarea name="name" style="resize:none" placeholder="Enter your new username"><%= user.name %></textarea>
        <!-- <textarea name="password" style="resize: none;" placeholder="Enter your new password"></textarea> -->
        <input type="password" name="password" placeholder="Enter your new password">
        <button>Update</button>
    </form>
    <form method="post" action="/user/<%= user.id %>?_method=DELETE">
        <input type="text" name="pass" placeholder="Enter your old password">
        <br><br>
        <button style="color: red">DELETE Account</button>
    </form>
    <a href="/user">back to home</a>
</body>
</html>